<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Little Black Book Directory</title>

    <th:block th:replace="base2 :: head"></th:block>
</head>
<body>
<th:block th:replace="base2 :: nav"></th:block>

<div class="container">
    <br/><br/><br/><br/>
    <div class="starter-template">
    </div>
    <br/>
    <div class="col-md-8 col-md-offset-2">
        <h4 class="title text-center">Resume</h4>
        <br/>
        <div class="nav-container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#description-logo" role="tab" data-toggle="tab">
                        <i class="fa fa-info-circle"></i><br/>
                        Basic Info
                    </a>
                </li>
                <li>
                    <a href="#map-logo" role="tab" data-toggle="tab">
                        <i class="fa fa-map-marker"></i><br/>
                        Education
                    </a>
                </li>
                <li class="">
                    <a href="#legal-logo" role="tab" data-toggle="tab">
                        <i class="fa fa-legal"></i><br/>
                        Work
                    </a>
                </li>
                <li class="">
                    <a href="#help-logo" role="tab" data-toggle="tab">
                        <i class="fa fa-life-ring"></i><br/>
                        Skills
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="description-logo">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Basic Info</h4>
                        <p class="category">Personal</p>
                    </div>

                    <div class="content">
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                            <tr th:object="${resume}">
                                <td th:text="${resume.firstName}+ ' ' + ${resume.lastName}"></td>
                                <td th:text="${resume.email}"></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="map-logo">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Education</h4>
                        <p class="category">Educational Background</p>
                    </div>

                    <div class="content">


                        <table class="table table-striped">
                            <tr>
                                <th>Major</th>
                                <th>Degree</th>
                                <th>School</th>
                                <th>Graduation Year</th>
                            </tr>
                            <tr th:each="row : ${edus}">
                                <td th:text="${row.eduCourseOfStudy}"></td>
                                <td th:text="${row.eduDegree}"></td>
                                <td th:text="${row.eduSchool}"></td>
                                <td th:text="${row.eduGradYear}"></td>

                            </tr>
                        </table>
                    </div>
                </div>


                <div class="tab-pane" id="legal-logo">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Workplace Experience</h4>
                            <p class="category">Employment History</p>
                        </div>

                        <div class="content">
                            <table class="table table-striped">
                                <tr>
                                    <th>Job Title</th>
                                    <th>Employer</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Duties</th>
                                </tr>
                                <tr th:each="row : ${works}">
                                    <td th:text="${row.workTitle}"></td>
                                    <td th:text="${row.workEmployer}"></td>
                                    <td th:text="${row.getWorkStringStartMonth()} + ' ' +${row.workStartYear}"></td>
                                    <td th:text="${row.getWorkStringEndMonth()}+ ' ' +${row.workEndYear}"></td>
                                    <td th:text="${row.workDuties}"></td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="help-logo">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Skill</h4>
                            <p class="category">Skills and Abilities</p>
                        </div>

                        <div class="content">
                            <table class="table table-striped">
                                <tr>
                                    <th>Skill</th>
                                    <th>Rating</th>
                                </tr>
                                <tr th:each="row : ${skills}">
                                    <td th:text="${row.skillName}"></td>
                                    <td th:text="${row.skillRating}"></td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

</body>
<th:block th:replace="base2 :: footlinks"></th:block>

</html>